@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: local('Raleway-Light'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: local('Raleway-Medium'),
    url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: local('Raleway-SemiBold'),
    url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
  font-display: swap;
}