$bg: #fff;
$accent: #F6BB63;
$title: #1E1112;
$text: #3F3F3F;
$text-white: #fff;
$bg-btn: #3F3F3F;


%raleway-300 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

%raleway-400 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

%raleway-500 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

%raleway-600 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

%raleway-700 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}